:root{
  --color-one : #003089;
  --color-two : #000153;
  --color-three : #949599;
  --color-four : #00E3C1;
  --color-five : #1A2F57;
  --color-six : #090D0C;
}

@font-face {font-family:'Title';src: url('../font/CormorantGaramond-Regular.ttf');}
@font-face {font-family:'Headline';src: url('../font/Gruppo-Regular.ttf');}
@font-face {font-family:'Normal';src: url('../font/NanumGothicCoding-Regular.ttf');}

html, body{
  margin: 0;
  padding: 0;
  height:100vh;
}

* a{
  text-decoration: none;
  color: inherit;
  transition: transform ease 50ms;
}

a > *:hover{
  transform: scale(1.1);
}

ul, li{
  list-style: none;
  padding: 0;
}

* {
  box-sizing: border-box;
  transition: opacity ease 100ms;
}

body{
  display: flex;
  flex-direction: column;
  background-color: var(--color-six);
  justify-content: space-between;
}

h1, h2, h3, h4, h5, h6{
  font-weight: inherit;
}
p{
  margin:0;
}
.css_base{
  background: linear-gradient(to bottom, var(--color-one),var(--color-two));
  border: 1px solid var(--color-three);
  border-radius: 10px;
}
.css_base2{
  background: linear-gradient(to bottom, var(--color-one),var(--color-two));
  border: 2px solid var(--color-three);
  border-radius: 10px;
}

/*HEADER*/

header{
  background: linear-gradient(to bottom, var(--color-one),var(--color-two));
  color:white;
  box-shadow: 0 0.5px 3px 0.1px var(--color-six);
  z-index: 3;
  border-bottom: 1px solid var(--color-three);
}

nav{
  max-width: 1300px;
  margin: 0 auto;
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Headline';
  font-weight: bold;
}
nav div{
  flex:1;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav *{
  margin: 0;
}

.liste{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sous_liste{
  position: absolute;
  right:0;
  top:100%;
  opacity: 0;
  visibility: hidden;
  width: 200%;
  z-index: 4;
}
.sous_liste li{
  margin:0.5rem;
}
.liste:hover .sous_liste{
  opacity: 1;
  visibility:visible;
}

/*MAIN*/

main{
  display: flex;
}

.content{
  max-width: 1200px;
  min-width: 80vw;
  margin: 0 auto;
  height: 80vh;
  background-color: var(--color-five);
  font-family: 'Normal';
  border-left: 1px solid var(--color-three);
  border-right: 1px solid var(--color-three);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/*DISCUSSION*/

.chat_box{
  display: flex;
  flex-direction: column;
  height: 60vh;
  color: var(--color-three);
  min-width: 80%;
  overflow: hidden;
}
.chat_box:hover{
  overflow-y: scroll;
  border-right: inherit;
}
.chat_box::-webkit-scrollbar{
  width: 10px;
  border-radius: 5px;
  background-color: var(--color-three);
}
.chat_box::-webkit-scrollbar-thumb{
  background-color: white;
  border-radius: 5px;
}
.add_message{
  min-width: 80%;
}
.form_discussion{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.textarea_message:focus{
  opacity:1;
  outline: none;
}
.textarea_message{
  min-width: 80%;
  opacity: 0.5;
  margin-right: 1rem;
  padding: 0.5rem;
}
.button_message{
  height: 50px;
  flex: 1;
  color:white;
}
.button_message:hover{
  transform: scale(0.98);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
}
.message{
  margin: 0.5rem;
  border-bottom: 0.1px solid var(--color-three);
}
.message p{
  margin:0.3rem;
}
.message_infos{
  color: var(--color-four);
  display: flex;
  justify-content: space-between;
}
.textarea_message{
  resize: none;
  color:white;
}

/*FOOTER*/

footer{
  height: 12vh;
  background: linear-gradient(to bottom, var(--color-one),var(--color-two));
  box-shadow: 0 -0.1px 3px 0.05px var(--color-six);
  border-top: 1px solid var(--color-three);
}

/*OTHER*/
.hand a{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fa-hand-point-right{
  opacity: 0;
  visibility: hidden;
  margin-right: 0.5rem;
  color: white;
  vertical-align: middle;
}
a:hover .fa-hand-point-right, li:hover .hand_1, .sous_liste li:hover .hand_2{
  visibility: visible;
  opacity: 1;
}
